* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #d5e1ef;
}

.card {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card h1 {
    font-size: 18px;
    color: #1f1f1f;
    margin-bottom: 10px;
}

.card p {
    font-size: 15px;
    color: #7d7d7d;
}